/* INDEX PAGE */

* {
    padding: 0;
    margin: 0;
}

body{
    background-color: #f9fafb;
    display: flex;
    flex-direction: column;
    font-size: 20px;
}
.site_logo {
    font-size: 35px;
    font-family: monospace;
}

.site_logo a{
    color: black;
    text-decoration: none;
}

.site_logo a:hover{
    cursor: pointer;
}

.center-heading {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-weight: bold;
    font-family: monospace;
}

#site-pic {
    height: auto;
    width: 700px;
    border-radius: 20px;
    margin-left: 25rem;
}

#header {
    /*border: 3px solid red; used to visualize the header div in browser*/
    height: 55px;
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 100px;
    padding-right: 100px;
}

#header ul{
    display: flex;
    list-style-type: none;
    margin-left: 20px;
}

#header li{
    margin-right: 20px;
}

#header ul li a{
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-family: monospace;
}

#header ul li a:hover{
    text-decoration: underline;
    text-underline-offset: 8px;
    cursor: pointer;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#home{
    display: flex;
    flex-direction: column;
}

#body{
    display: flex;
    flex-direction: column;
    padding-right: 25rem;
    padding-left: 25rem;
    padding-top: 2rem;
    padding-bottom: 3rem;
}

#body img{
    border-radius: 20px;
}

#body h1{
    font-size: 35px;
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
    font-family: monospace;
}

#body h2{
    font-size: 28px;
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
    font-family: monospace;
}

#body h3{
    font-size: 24px;
    padding-top: .5rem;
    padding-bottom: .5rem;
    font-family: monospace;
}

#body ul, ol{
    margin-left: 1rem;
}

#body p{
    font-size: 20px;
    display: block;
}