* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --bg-color-light-mode: #f9fafb;
    --bg-color-dark-mode: rgb(17 24 39);
    --text-color-light-mode: black;
    --text-color-dark-mode: white;
    --primary-ff: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html{
    font-family: var(--primary-ff);
}

body{
    background-color: var(--bg-color-light-mode);
    color: var(--text-color-light-mode);
}

body.dark{
    background-color: var(--bg-color-dark-mode);
    color: var(--text-color-dark-mode);
}
.site_logo {
    padding-right: 20px;
}

.site_logo a{
    color: inherit;
    text-decoration: none;
    font-size: clamp(1rem, 5vh, 5rem);
}

.site_logo a:hover{
    cursor: pointer;
}

.center-heading {
    text-align: center;
    font-weight: bold;
}

#site-pic {
    height: auto;
    max-width: 700px;
    border-radius: 20px;
    align-self: center;
}

#header {
    background-color: var(--bg-color-light-mode);
    color: var(--text-color-light-mode);
    border-bottom: lightgray 1px solid;
    min-width: 100%;
    padding: 10px 50px;
    position: sticky;
    top: 0;
}

body.dark #header{
    background-color: var(--bg-color-dark-mode);
    color: var(--text-color-dark-mode);
    border-bottom: black 1.5px solid;
    min-width: 100%;
    padding: 10px 50px;
    position: sticky;
    top: 0;
}

#header ul{
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
}

#header li{
    padding-right: 20px;
}

#header ul li a{
    color: inherit;
    text-decoration: none;
    font-size: clamp(.2rem, 3vh, 3rem);
    font-weight: 400;
}

#header ul li a:hover{
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-color: gray;
    cursor: pointer;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#content{
    display: flex;
    flex-direction: column;
    margin: 2rem 1rem;
}

#content img{
    border-radius: 20px;
    max-width: 100%;
    max-height: auto;
    box-shadow: 1px 1px 5px gray;
}

h1, h2{
    /* padding: 24px 0px 8px; */
    padding-top: 16px;
    padding-bottom: 8px;
}

h3{
    /* padding: 8px 0; */
    padding-top: 8px;
}

#content h1{
    font-size: 2.3rem;
}

#content h2{
    font-size: 1.8rem;
}

#content h3{
    font-size: 1.2rem;
}

#content ul, ol{
    margin-left: 1rem;
}

#content p{
    display: block;
}

.line_height{
    line-height: 30px;
}

.moon-sun{
    fill: var(--text-color-light-mode);
    cursor: pointer;
}

body.dark .moon-sun{
    fill: var(--text-color-dark-mode);
    cursor: pointer;
}