/* INDEX PAGE */

* {
    padding: 0;
    margin: 0;
}

body{
    background-color: #f9fafb;
}
.site_logo {
    font-size: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.site_logo a{
    color: black;
    text-decoration: none;
}

.site_logo a:hover{
    cursor: pointer;
}

h2 {
    font-size: 25px;
}

.center-heading {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-weight: bold;
    font-family: monospace;
}

#site-pic {
    height: auto;
    width: 700px;
    border-radius: 20px;
    margin-left: 25rem;
}

#header {
    /*border: 3px solid red; used to visualize the header div in browser*/
    height: 55px;
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 100px;
    padding-right: 100px;
}

#header ul{
    display: flex;
    list-style-type: none;
    margin-left: 20px;
}

#header li{
    margin-right: 20px;
}

#header ul li a{
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#header ul li a:hover{
    text-decoration: underline;
    text-underline-offset: 8px;
    cursor: pointer;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}